<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-adsense-account" content="ca-pub-6329452548075582">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Media Player</title>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
    <style>
        body {
            background: #121212;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            font-family: 'Segoe UI', sans-serif;
        }

        .player-wrapper {
            width: 90%;
            max-width: 1000px;
        }


        h2 {
            margin-bottom: 1rem;
        }
    </style>
</head>

<body>
    <h1><b>🇿🇦 KASI TV PLAYER 📺</b></h1>
    <h3><b>PAUL4ASA®</b></h3>
    
    <div class="player-wrapper">
        <video id="player" playsinline controls>
            <source src="{{.FileURL}}" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>

    <script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>
    <script>
        const player = new Plyr('#player');
    </script>
</body>

</html>
